body {
  background-color: #a20409;
  background-image: url("src/cyber-hacker-attack-background-skull-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* -webkit-filter: drop-shadow(-5px 5px 5px #000);
  filter: drop-shadow(-5px 5px 5px #000); */
  background-size: cover;
  background-position-y: center;
  margin: 0;
}

/* to content */
#btn-to-content{
  background-color: rgba(100, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

#to-content{
  filter: invert(100%);
  height: 50px;
  transform: rotate(180deg);
}

#main {
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;
  top: 100%;
}
/* About */
#about {
  margin-right: 1%;
  border-radius: 50px 15px;
  text-align: center;
  background-color: #de0909;
  width: 15%;
  padding: 3%;
  float: right;
  top: 100px;
}
#about:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(192, 192, 192);
  animation: color_change 4s;
  transform:scale(1.1);
  transform-origin:right center;
}

/* Main texts */
#content-container {
  margin: 1%;
  margin-top: 0;
  float: right;
  width: 60%;
}

#content-container div {
  border-radius: 25px;
  background-color: #a21420;
  margin: 5%;
  margin-top: 0;
  padding: 5%;
  text-align: center;
}
#content-container div:hover{
  color: white;
  background-color: rgb(41, 41, 41);
  animation: color_change 1s;
  transform: scale(1.1);
}

/* side bar */
#side-bar ul {
  margin: 1%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 15%;
  background-color: #3d0e14;
}
#side-bar ul li a {
  display: block;
  color: #f96161;
  padding: 8px 16px;
  text-decoration: none;
}
#side-bar ul li a:hover {
  background-color: #555;
  color: white;
}

/* NavBar */
#NavBar ul {
  opacity: 75%;
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#NavBar ul li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#NavBar ul li a:hover {
  background: #ddd;
  color: black;
}
#NavBar :hover {
  opacity: 100%;
}

/* Footer */
#Footer {
  height: 20px;
  width: 80%;
  padding: 1%;
  text-align: center;
  background-color: #ff8c00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  transform: translateY(50%);
  margin: auto;
}
#Footer:hover{
  color: white;
  background-color: rgb(41, 41, 41);
  animation: color_change 1s;

}
footer div{
  text-align: center;
}
footer div:hover{
  transform: scale(1.1);
}

/* scroll to top */
#scroll-img {
  filter: invert(100%);
  z-index: 99999;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
}


/* Title */
#Title{
  color: white;
  position: fixed;
  text-align: center;
  margin-top: 300px;
  font-size: 900%;
  width: 100%;
}