* {
  box-sizing: border-box;
}

body {
  background-color: #a20409;
  background-image: url("../img/cyber-hacker-attack-background-skull-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: center;
  margin: 0;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 80vh;
  width: 100%;
  background-size: cover;
}
.mySlides img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* to content */
#btn-to-content{
  background-color: rgba(100, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

#to-content{
  filter: invert(100%);
  height: 50px;
  transform: rotate(180deg);
}

#main {
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;
  top: 100%;
}
/* About */
#about {
  margin-right: 1%;
  border-radius: 50px 15px;
  text-align: center;
  background-color: #de0909;
  width: 15%;
  padding: 3%;
  float: right;
  top: 100px;
}
#about:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(192, 192, 192);
  animation: color_change 4s;
  transform:scale(1.1);
  transform-origin:right center;
}

/* Main texts */
#content-container {
  margin: 1%;
  margin-top: 0;
  float: right;
  width: 60%;
}

#content-container div {
  border-radius: 25px;
  background-color: #a21420;
  margin: 5%;
  margin-top: 0;
  padding: 5%;
  text-align: center;
}
#content-container div:hover{
  color: white;
  background-color: rgb(41, 41, 41);
  animation: color_change 1s;
  transform: scale(1.1);
}

/* side bar */
#side-bar ul {
  margin: 1%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 15%;
  background-color: #3d0e14;
}
#side-bar ul li a {
  display: block;
  color: #f96161;
  padding: 8px 16px;
  text-decoration: none;
}
#side-bar ul li a:hover {
  background-color: #555;
  color: white;
}

/* NavBar */
#NavBar ul {
  opacity: 75%;
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#NavBar ul li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#NavBar ul li a:hover {
  background: #ddd;
  color: black;
}
#NavBar :hover {
  opacity: 100%;
}

/* Footer */
#Footer {
  height: 20px;
  width: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #ff8c00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  transform: translateY(50%);
  margin-top: 3rem;
}
#Footer:hover{
  color: white;
  background-color: rgb(41, 41, 41);
  animation: color_change 1s;
}


/* scroll to top */
#scroll-img {
  filter: invert(100%);
  z-index: 99999;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
}


/* Title */
#Title{
  color: white;
  position: fixed;
  text-align: center;
  margin-top: 300px;
  font-size: 900%;
  width: 100%;
}


/* modal */
.modal {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__window {
  border-radius: 3%;
  position: relative;
  background-color: #a20409;
  padding: 4em 2em;
}

.modal__close {
  text-decoration: none;
  color: white;
  position: absolute;
  top: -30px;
  right: 0;
}
#modal-about:not(:target) {
  visibility: hidden;
  opacity: 0;
}
#modal-contact:not(:target) {
  visibility: hidden;
  opacity: 0;
}